%div{ class:"row"}
  %aside{ class:"col-md-4"}
    %section{ class:"user_info"}
      = render 'payer'
  %div{ class:"col-md-8"}
    %h3 Услуги
    #utilities
    #utilities_data{flatId: @flat.id.to_json, utilities: @utilities.to_json, tariffs: @tariffs.to_json, categories: @categories.to_json}
    = javascript_pack_tag 'utilities_by_flat'
