.row
  %aside.col-md-4
    %section.user-info
      = render 'payer'
      = link_to 'Счета', flat_accounts_path(@flat.id), id: 'to_accounts', flatId: @flat.id
  .col-md-8
    %h3 Услуги
    #root
    #utilities-data{ flatId: @flat.id.to_json, utilities: @utilities.to_json, tariffs: @tariffs.to_json, categories: @categories.to_json }
    = javascript_pack_tag 'App'
