%h1 Tariffs
#tariffs
#root
#tariffs_data{tariffs: @tariffs.to_json, categories: @categories.to_json}
-#= javascript_pack_tag 'tariffs_by_category'
= javascript_pack_tag 'App'
-#= javascript_pack_tag 'index'
