<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <!--%= link_to "Коммунальный калькулятор", '#', id: "logo" %-->
    <%= link_to "ГМЦ", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Регистрация", signup_path %></li>
        <li><%= link_to "Вход", '#' %></li>
      </ul>
    </nav>
  </div>
</header>