.row
  %aside.col-md-4
    %section.user-info
      = render 'payer'
      = link_to 'Услуги', flat_utilities_path(@flat.id), id: 'to_utilities', flatId: @flat.id
  .col-md-8
    %h3 Счета
    #accounts
    #root
    #accounts_data{flatId: @flat.id.to_json, accounts: @accounts.to_json, tariffLimits: @tariff_limits.to_json, utilityParams: @utility_params.to_json, total: @total.to_json}
    = javascript_pack_tag 'App'
